<!DOCTYPE html>
{% extends "frontend/base.html"%}

{% block content %}
<form method="post">
	{% csrf_token %}
	<p>
		<label for="id_user">Username</label>
		<input id="id_user" maxlength="50" name="user" type="text" required value="anonymous"/>
	</p>
	<p>
		<label for="id_message">Message</label>
		<input id="id_message" maxlength="254" name="message" type="text" class="submissionfield" required />
	</p>
	<input type="submit" value="Post"/>
</form>
<div id="app">
		<!-- React will load here -->
</div>
{% endblock %}